<% var item, key %>

<% htmlWebpackPlugin.options.appMountIds = htmlWebpackPlugin.options.appMountIds || [] %>
<% htmlWebpackPlugin.options.lang = htmlWebpackPlugin.options.lang || "en" %>
<% htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %>
<% htmlWebpackPlugin.options.meta = htmlWebpackPlugin.options.meta || [] %>
<% htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || [] %>

<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" <% if (htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="google-site-verification" content="sMHmCHs95SpZi8eoQ4vHu401PZ9Z6PSXF9CdOKML5gc" />

    <% if (htmlWebpackPlugin.options.baseHref) { %>
    <base href="<%= htmlWebpackPlugin.options.baseHref %>">
    <% } %>

    <% if (Array.isArray(htmlWebpackPlugin.options.meta)) { %>
      <% for (item of htmlWebpackPlugin.options.meta) { %>
      <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
      <% } %>
    <% } %>

    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

    <meta name="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="<%= htmlWebpackPlugin.options.root %>data-en-informatie-600-600.jpg" />
    <meta name="og:url" content="<%= htmlWebpackPlugin.options.root %>" />
    <meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />

    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:card" content="<%= htmlWebpackPlugin.options.root %>data-en-informatie-600-314.jpg" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.root %>data-en-informatie-600-314.jpg" />
    <meta name="twitter:site" content="@AmsterdamNL" />
    <meta name="twitter:creator" content="@AmsterdamNL" />

    <link rel="manifest" href="/manifest.json">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon">
    <% } %>

    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>

    <% for (item of htmlWebpackPlugin.options.links) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
    <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
    <% } %>

    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>

    <style>
      #root-loading-indicator {
        display: flex;
        padding: 2em 1em;
      }

      #root-loading-indicator svg {
        animation: rotating-spinner 1s linear infinite;
        height: 36px;
        margin: auto;
        width: 36px;
      }

      @keyframes rotating-spinner {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>

  </head>
  <body>
    <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
    <style>.unsupported-browser { display: none; }</style>
    <div class="unsupported-browser">
      Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this
      site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.
    </div>
    <% } %>

    <div id="root" class="root">
      <span id="root-loading-indicator">
        <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M512.174961,120 C727.389068,120 902.10316,293.401175 904.226841,508.11313 L904.226841,516.031826 C902.139525,727.176711 733.321634,898.371522 523.047297,904 L512.358177,904 L512.317615,821.601508 C683.200799,821.524436 821.705052,682.972643 821.705052,512.071448 C821.705052,341.122699 683.12371,202.541357 512.174961,202.541357 C426.731835,202.541357 349.374645,237.161366 293.365577,293.139197 L235,234.773664 C305.946119,163.858773 403.938658,120 512.174961,120 Z" id="loader"></path>
        </svg>
      </span>
    </div>

    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
    <% } %>
    <% for (item of htmlWebpackPlugin.options.appMountIds) { %>
    <div id="<%= item %>"></div>
    <% } %>

    <% if (htmlWebpackPlugin.options.window) { %>
    <script>
      <% for (key in htmlWebpackPlugin.options.window) { %>
      window['<%= key %>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[key]) %>;
      <% } %>
    </script>
    <% } %>

    <% if (htmlWebpackPlugin.options.inlineManifestWebpackName) { %>
        <%= htmlWebpackPlugin.files[htmlWebpackPlugin.options.inlineManifestWebpackName] %>
    <% } %>

    <% for (item of htmlWebpackPlugin.options.scripts) { %>
    <% if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
    <script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script>
    <% } %>

    <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;

      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>

      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js"></script>
    <% } %>
  </body>
</html>
